@{
    ViewData["Title"] = "Discos";
}

@foreach(int id in ViewBag.discos.Keys)
            {
                <section>
                    <div class="index">
                        <h2>
                            @ViewBag.discos[id].artista
                        </h2>
                            <a href='@Url.Action("SelectDisco", "Home", new {id = id})'>Ver disco</a>
                            <img src=@ViewBag.discos[id].foto alt="ERROR">
                    </div>
                </section>
            }
